$div-border-color: #e8e8e8;
$bg-holiday-color: #FFA500;

table.table-hover tbody tr:hover {
    background-color: $bg-holiday-color; 
}

.sticky-table table thead tr {
    z-index: 5;
    th.t-check {
        width: 5%;
    }
    th.t-depo {
        width: 80%;
    }
    th.t-pref {
        width: 15%;
    }
}

/* チラつき防止 */
.sticky-table table{
    border-collapse: collapse;
    border-spacing: 0;
  }
.sticky-table td,th{
    border: 1px solid $div-border-color;
}
.sticky-table table thead tr th {
    z-index: 5;
    border-top: 0 !important;
}