/* 変数定義 */
$navi-bgcolor: #55C501 !important;
$table-th-bgcolor: #84D383;
$table-td-bgcolor: #3490dc;
$color-white: #FFFFFF;
$toggle-bordercolor: #dee2e6;
$error-color: #ff0000;
$div-border-color: #e8e8e8;
$bg-holiday-color: #FFA500;
$main-bg-color: #ffffff;

/* --- ここから追加 ---*/
html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
    font-weight: 400;
}

/* Hader */
nav {
  background-color: $navi-bgcolor;
}

/* スクロールテーブル */
.sticky-table {
  overflow: scroll;
  height: 420px;
  table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.75rem;
    thead tr th {
      position: sticky;
      top: 0px;
      background-color: $table-th-bgcolor;
      vertical-align: middle !important;
      text-align: center;
      padding: 0.25rem;
    }
    tbody tr {
      position: sticky;
      left: 0;
      .selected {
        background-color: #FFA500; 
      }
      td {
        text-align: center;
        padding: 0.25rem;
        vertical-align: middle !important;
      }
    }
    tbody tr.selected {
      position: sticky;
      left: 0;
      background-color: #FFA500; 
    }
  }
}
/* チラつき防止 */
.sticky-table table{
  border-collapse: collapse;
  border-spacing: 0;
}
.sticky-table td,th{
  border: 1px solid $div-border-color;
}
.sticky-table table thead tr th {
  z-index: 5;
  border-top: 0 !important;
}

/* マスク */
.mask {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:999;
  background-color:rgba(0,0,0,0.5)
}

.mask-progress {
  position: sticky;
  left:50%;
  top:50%
}

/* 必須 */
span.badge {
  vertical-align: text-bottom;
  margin-left: 0.5rem !important;
}


/* toggle */
.toggle-div {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 0.75rem;
  .toggle-table {
    font-size: 0.75rem;
    margin-bottom: 0;
    thead tr th　{
      text-align: center;
      background-color: $table-th-bgcolor;
    }
    tbody tr td {
      text-align: center;
      color: $color-white;
      background-color: $table-td-bgcolor;
    }
  }
  .toggle-tr {
    text-align: center;
    padding: 0.25rem;
    font-weight: bold;
    border: 1px solid $toggle-bordercolor;
    background-color: $table-th-bgcolor;
  }
  .toggle-td {
    text-align: center;
    vertical-align: middle !important;
    height: 43px;
    padding: 0.25rem;
    border: 1px solid $toggle-bordercolor;
    color: $color-white;
    background-color: $table-td-bgcolor;
    display: flex !important;
    span {
      margin: auto;
    }
    input {
      height: 100%;
    }
    select {
      height: 100%;
    }
  }
}

/*削除配置する際の親要素*/
.deleteContainerParent {
  position: relative;
  width: 100%;
}

/*ボタンを重ねるためのブロック要素*/
.deleteButtonContainer {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5;
  right: 10;
}

/*削除ボタン*/
.deleteButton {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left:0;
  padding-right: 1.5px;
  text-align: center;
  line-height: 9px;
  vertical-align: middle;
  color:grey;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 3px;
}

/* 検索エリア */
.default-search {
  border: 2px solid $div-border-color;
  padding: 0.75rem;
  background-color: $main-bg-color;
}

/* エラーエリア */
.error-area {
  border: 2px solid $div-border-color;
  padding: 0.75rem;
  color: $error-color;
  background-color: $main-bg-color;
}

/* コンテンツエリア */
.default-input {
  border: 2px solid $div-border-color;
  padding: 0rem;
  background-color: $main-bg-color;
}

/* 祝日背景 */
.bg-holiday {
  background-color: $bg-holiday-color !important;
}

$div-day-width: 90px;

.div-day {
  width: $div-day-width;
  text-align: center;
  box-shadow : 0 0 0 1px gray;
}

.div-date {
    width: $div-day-width;
}

.dash {
    text-align: center;
}